<div class="row">
    <div class="col-md-4">
        <h3>Customers Report</h3>
    </div>
</div>
<hr />
<div class="row">
    <div id="autoUpdate" style="display: none; overflow-y: auto" class="SlideContainer">
        <table width="100%" height="100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td><iframe id="myReport" width="100%" height="800px"></iframe></td></tr>
        </table>
    </div>
</div>

<script>
    $(window).load(function () {
        document.getElementById("myReport").src = "../../Report/CommonrdlcReport.aspx?ReportID=" + firstDropVal + "";
        $("#autoUpdate").show();
    });
</script> 